* {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

body {
	font-family: pretendard;
	font-size: 16px;
	line-height: 24px;
	color: #333;
	min-width: 1400px;
}

#header {
	height: 50px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -660px;
	z-index: 10;

}

.header-wrap {
	width: 1320px;
	height: 100px;
	margin: 0 auto;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	border: 1px solid #dddddd93;
	padding: 0px 10px;

}

h1 img {
	scale: 65%;
	margin-top: -5px;

}

.gnb {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.gnb li {
	width: 200px;
}

.icon {
	display: flex;
}

.icon li {
	display: block;
	margin: 30px 15px;
	color: #ddd;
}
.gnb>li a{
	display: block;
	font-size: 23px;
	margin: 35px 0px;
	transition: all 0.1s;
}
.gnb>li a:hover {
	color: #bb1722;
	font-size: 24px;
	font-weight: bold;
	transition: all 0.1s;
}

.icon>li :hover {
	scale: 120%;
}

/* banner */
#banner-wrap {
	/* height: 1030px; */
	margin: 50px auto;
	overflow: hidden;
}

#banner-wrap .swiper {
	width: 100%;
	height: 100%;
}

#banner-wrap .swiper-slide {
	text-align: center;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#banner-wrap .swiper-slide img {
	display: block;
	width: 100%;
	height: 80%;
	object-fit: cover;
}

#banner-wrap .swiper-button-prev,
#banner-wrap .swiper-button-next {
	color: rgb(175, 151, 119);
}

.swiper-pagination-bullet {
	background-color: rgb(75, 31, 10);
}

/* section1_ history */
#section1 {
	width: 1320px;
	margin: 0 auto;
}

h2 {
	text-align: center;
	margin-top: 200px;
	margin-bottom: 120px;
	font-size: 35px;
}

.sec1_wrap {
	width: 1320px;
	margin: 30px auto;
	display: flex;
	justify-content: space-between;
}

.text_wrap {
	width: 40%;
	box-sizing: border-box;
}

p {
	padding: 15px 0px;
}

.search {
	margin: 70px 0px;
	padding: 0px 30px;
	display: inline-block;
	border: 1px solid #333;
	box-sizing: border-box;
}

.search:hover {
	background-color: #999;
	color: #fff;
	border: #fff
}

.memo {
	scale: 80%;
	margin-left: -50px;
}

.image_wrap {
	width: 40%;
	height: 300px;
	box-sizing: border-box;
	display: flex;
}

.images li {
	display: block;
}

.images li img {
	width: 50%;
}

#section2 .store-wrap {
	width: 1320px;
	margin: 0 auto;
	text-align: center;
}

.works {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.works li {
	width: 48%;
	display: block;
	position: relative;
	overflow: hidden;
}

.works-image img {
	width: 100%;
	display: block;
	transition: all 1s;
}

.works li:nth-child(3),
.works li:nth-child(4) {
	margin-top: 60px;
}

.cover {
	width: 100%;
	height: 100%;
	background-color: rgba(117, 117, 117, 0.801);
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	text-align: center;
	box-sizing: border-box;
	padding-top: 250px;
	opacity: 0;
	transition: all 1s;
}

.store-text {
	transition: all 1s;
}

h3 {
	font-size: 40px;
	letter-spacing: 20px;
	text-align: center;
}

/* 호버시  */
.works li:hover .cover {
	opacity: 1;
	transition: all 1s;
}

.works li:hover .store-text {
	opacity: 1;
	transform: translateY(-50px);
	transition: all 1s;
}

.works li:hover .store-text {
	opacity: 1;
	transform: translateY(-50px);
	transition: all 1s;
}

.works li:hover .works-image img {
	transform: scale(1.1);
	transition: all 1s;
}

.promotion {
	width: 100%;
	height: 200px;
	background: url(../images/home/promotion\ banner-1.png) no-repeat center;
	margin: 150px auto;

}

.promotion img {
	width: 100%;

}

#section3 {
	width: 1320px;
	margin: 0 auto;
}

/* class swiper */
#wrap {
	width: 1320px;
	height: 70vh;
	background: #000;
	color: #fff;
	overflow: hidden;
}

#wrap>section {
	float: left;
	width: 33.33%;
	background-size: cover;
	transition: all 0.4s;
	transition-timing-function: ease-in-out;
}

@media screen and (max-width: 1024px) {
	#wrap>section {
		width: 100%;
		height: 33.33%;
	}
}

@media screen and (min-width: 1025px) {
	#wrap>section.active {
		width: 66.66%;
		opacity: 1;
	}

	#wrap>section.activeSize {
		width: 16.66%;
	}
}

.bg {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	transition-duration: 0.4s;
}

@media screen and (min-width: 1025px) {
	.bg.active {
		background: rgba(0, 0, 0, 0.4);
	}

	.bg.activeSize {
		background: rgba(0, 0, 0, 0.8);
	}
}

.contents {
	width: 100%;
	height: 80vh;
	padding: 0 10%;
	box-sizing: border-box;
	position: relative;
	margin-top: -60px;
}

@media screen and (max-width: 1024px) {
	.contents {
		height: 100%;
	}
}

.contents>h2 {
	width: 100%;
	height: 200px;
	line-height: 50px;
	font-weight: bold;
	font-size: 35px;
	font-family: 'PT Areka Neue';
	transition-duration: 0.4s;
	text-align: center;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -50px;
	z-index: 5;
}

.contents>h2>span {
	font-size: 25px;
	font-weight: 500;

}

@media screen and (max-width: 1250px) {
	.contents>h2 {
		font-size: 40px;
	}
}

@media screen and (max-width: 1024px) {
	.contents>h2 {
		display: none;
	}
}

@media screen and (min-width: 1025px) {
	.contents>h2.activeSize {
		font-size: 30px;
		opacity: 0;
	}
}

.contents>div {
	width: 100%;
	padding-top: 5%;
	opacity: 0;
	transition-duration: 0.4s;
	margin-top: -15px;
}

@media screen and (max-width: 1600px) {
	.contents>div {
		padding-top: 15%;
	}
}

@media screen and (max-width: 1366px) {
	.contents>div {
		padding-top: 10%;
	}
}

@media screen and (min-width: 1025px) {
	.contents>div.active {
		opacity: 1;
		transition-delay: 0.4s;
	}
}

@media screen and (max-width: 1024px) {
	.contents>div {
		opacity: 1;
		text-align: center;
		padding-top: 0;
		padding: 0 8%;
		box-sizing: border-box;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -58px;
	}
}

.contents>div>h2 {
	font-weight: bold;
	font-size: 40px;
	font-family: 'PT Areka Neue';
	margin-bottom: 20px;
	text-align: left;
}

@media screen and (max-width: 1250px) {
	.contents>div>h2 {
		font-size: 36px;
		margin-bottom: 70px;
	}
}

@media screen and (max-width: 1024px) {
	.contents>div>h2 {
		margin-bottom: 10px;
		font-size: 24px;
	}
}

.contents>div>h3 {
	font-size: 30px;
	margin-bottom: 40px;
	font-weight: 500;
	letter-spacing: -1px;
	text-align: left;
}

@media screen and (max-width: 1250px) {
	.contents>div>h3 {
		font-size: 20px;
	}
}

@media screen and (max-width: 1024px) {
	.contents>div>h3 {
		margin-bottom: 2px;
		color: #999;
		font-size: 13px;
	}
}

p.text {
	font-size: 16px;
	line-height: 25px;
	margin-bottom: 30px;
}

p.text_m {
	color: #999;
	font-size: 10px;
}

@media screen and (max-width: 1250px) {
	p.text {
		font-size: 14px;
		line-height: 28px;
	}
}

@media screen and (max-width: 1024px) {
	p.text {
		display: none;
	}
}

@media screen and (min-width: 1025px) {
	p.text_m {
		display: none;
	}
}

p.link {
	height: 30px;
	border-bottom: 3px solid #666;
	display: inline-block;
	position: relative;
	z-index: 6;
}

@media screen and (max-width: 1250px) {
	p.link {
		height: 40px;
	}
}

@media screen and (max-width: 1024px) {
	p.link {
		margin-top: 10px;
		height: 24px;
	}
}

p.link>a {
	line-height: 40px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

@media screen and (max-width: 1250px) {
	p.link>a {
		font-size: 16px;
		line-height: 40px;
	}
}

@media screen and (max-width: 1024px) {
	p.link>a {
		font-size: 11px;
		line-height: 24px;
	}
}

p.link>span {
	display: inline-block;
	width: 0;
	height: 3px;
	overflow: hidden;
	background: #fff;
	transition: all 0.3s;
	position: absolute;
	left: 0;
	bottom: -3px;
}

@media screen and (min-width: 1367px) {
	p.link:hover>span {
		width: 100%;
	}
}

/******* oneday*******/
section.tw {
	background: url(../images/home/class1.jpg) no-repeat center top;
}

/******* hobby *******/
section.ts {
	background: url(../images/home/class2.jpg) no-repeat center top;
}

/******* certificate *******/
section.km {
	background: url(../images/home/class3.jpg) no-repeat center top;
}


/* section4_ contact us */
.address {
	width: 1320px;
	height: 500px;
	margin: 0 auto;
	margin-bottom: 200px;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}

.address li {
	display: block;
	width: 48%;
	height: 500px;
}

.address li img {
	width: 100%;
	height: 100%
}

.add_text {
	height: 500px;
	background: url(../images/home/bg_address.png) ;
	text-align: center;
	padding: 10px 50px;
	box-sizing: border-box;
	position: relative;
}

.add_text img{
	width: 100%;
	height: 100%;
}

.add_icon {
	width: 35px;
	height: 45px;
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -20px;
	transform: scale(0.8);
}

.add_icon img {
	width: 100%;
	height: 100%;
}

.add_title {
	font-size: 19px;
	font-weight: 800;
	padding-top: 160px;
}

.add_en {
	font-size: 17px;
	margin-top: -20px;
	padding-bottom: 30px;
}

p {
	padding: 10px;
}


/* B-banner slide */
#slide {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 30px;
}

/*width를 본인에 맞게 수정하여 사용하세요! --아래 3개*/
.slide_inner {
    width: 3840px;
    /*ul길이의 두배!*/
    display: flex;
    animation: rotate 20s linear infinite;
}

.slide_inner ul {
    display: flex;
    width: 5000px;
    /*li크기를 전부합한것보다 더 여유있게.*/
    justify-content: space-around;
}

.slide_inner ul li {
    width: 280px;
}

/*width를 본인에 맞게 수정하여 사용하세요!*/

.slide_inner ul li:nth-child(2) {
    padding-top: 110px
}

.slide_inner ul li:nth-child(3) { 
    padding-top: 0px
}

.slide_inner ul li:nth-child(4) {
    padding-top: 110px
}

.slide_inner ul li:nth-child(5) {
    padding-top: 0px
}
.slide_inner ul li:nth-child(6) {
    padding-top: 110px
}
.slide_inner ul li:nth-child(7) {
    padding-top: 180px
}


.slide_inner ul li img {
    width: 100%;
}

.slide_inner:hover {
    animation-play-state: paused;
}

/*슬라이드에 호버시 애니메이션이 멈추게 만듦*/

#slide p {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: rotate(-50%);
    cursor: pointer;
}

@keyframes rotate {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1800px;
        /*slide_inner의 ul길이와 동일하게 - 설정합니다!*/
    }
}
/* footer */
#footer{
	background-color:  #d8cdbf; 
	height: 180px;
	color: oklab(18.199% 0.03901 0.03406 / 0.89);
	margin-top: 150px;
	padding: 50px 0px;
}
.footer-wrap{
	width: 1320px;
	height: 100%;
	margin: 0 auto;
	display: flex;
justify-content: space-between;
font-size: 14px;
}

.B_logo{
	height: 70px;
	display: flex;

}
h5{
	transform: scale(0.9);
}
.B-logo_title{
	font-size: 20px;
	font-weight: 700;
	padding-top: 30px;
}
.B-logo_title>span{
	font-size: 15px;
	font-weight: 400;
}

.cus-title{
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 10px;
}

.footer_SNS{
    width: 110px;
	display: flex;
     margin: 10px 10px;
}

.footer_SNS li{
	display: block;
}
.footer_SNS li img{
	width: 100%;
}

 .footer_SNS li:nth-child(2){ 
    padding: 0px 10px;
}

.extra{
	text-align: right;
}