* {
	padding: 0;
	margin: 0;

}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	vertical-align: middle;
}

body {
	font-family: pretendard;
	font-size: 16px;
	line-height: 26px;
	color: #333;
	min-width: 1400px;
}

/* header */
#header {
	height: 50px;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -660px;
	z-index: 10;

}

.header-wrap {
	width: 1320px;
	height: 100px;
	margin: 0 auto;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	/* border: 1px solid #dddddd93; */
	padding: 0px 10px;

}

h1 img {
	scale: 65%;
	margin-top: -5px;

}

.gnb {
	display: flex;
	justify-content: space-between;
	text-align: center;
}

.gnb li {
	width: 200px;
}

.icon {
	display: flex;
}

.icon li {
	display: block;
	margin: 30px 15px;
	color: #ddd;
}

.gnb>li a {
	display: block;
	font-size: 23px;
	margin: 35px 0px;
	transition: all 0.1s;
}

.gnb>li a:hover {
	color: #bb1722;
	font-size: 24px;
	font-weight: bold;
	transition: all 0.1s;
}

.icon>li :hover {
	scale: 120%;
}

#h-banner {
	width: 100%;
	height: 300px;
	background: url(../images/SUB2/header.jpg) no-repeat center;
	text-align: center;
	margin-top: 102px;
}
#contents-wrap{
	width: 100%;
	padding-bottom: 50px;
}
/* 카테고리별 */
#furniture {
	width: 1320px;
	margin: 0 auto;
}

.square_title {
	display: inline-block;
	width: 250px;
	height: 27px;
	background-color: rgb(75, 31, 10);
	color: #fff;
	border-radius: 10px;
	text-align: center;
	padding: 15px 10px;
	font-size: 25px;
	margin-top: 120px;
	margin-left: 535px;
	margin-bottom: 100px;
}

.f-wrap {
	display: flex;
	box-sizing: border-box;
}

.f-wrap li {
	width: 50%;
}
.main_image{
	height: 420px;
	box-sizing: border-box;
}

.f-wrap li img {
	width: 100%;
	height: 100%;
}

.details {
	background-color: #f7f0df;
	padding: 50px 50px 25px 50px;
	line-height: 20px;
	height: 420px;
	overflow: hidden;
	box-sizing:border-box
}

.detail1,
.detail2,
.detail3,
.detail4,
.detail5 {
	display: flex;
	margin-bottom: 20px;
}

.small_square_title {
	display: inline-block;
	width: 62px;
	height: 24px;
	background-color: rgb(75, 31, 10);
	color: #fff;
	text-align: center;
	padding: 0px 2px;
	padding-top: 3px;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 5px;
}

.title {
	font-size: 20px;
	font-weight: bold;
	margin-left: 30px;
}

.basic {
	margin-left: 30px;
}

.order {
	width: 1320px;
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

/* 제품상세 디스플레이 */

/* Position the image container  */
#container_wrap{
	width: 1320px;
	margin: 100px auto;
	display: flex;
}
.container {
	width: 950px;
	margin-top: 0px;
	height: 548px;
	position: relative;
	display: flex;
	box-sizing: border-box;
}

/* Hide the images by default */
.mySlides {
	display: none;
	width: 80%;
	height: 548px;
	box-sizing: border-box;
}

.mySlides img {
	width: 100%;
	height: 100%;
}

.row {
	width: 16%;
	height: 548px;

}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
	cursor: pointer;
}


/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* Container for image text */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Six columns in a row */
.column {
	display: block;
	height: 20%;
	padding-left: 2px;
	padding-bottom: 2px;
	box-sizing: border-box;
}

.column img {
	width: 100%;
	height: 100%;
}

/* Add a transparency effect for thumnbail images */
.demo {
	opacity: 0.6;
}

.active,
.demo:hover {
	opacity: 1;
}

/* 주문창 */
.order_text {
	width: 20%;
	padding: 0px 20px;
}

.share {
	text-align: right;
	scale: (0.8);
	padding-bottom: 20px;
}

.artwork_title {
	font-size: 20px;
	font-weight: bold;
	padding: 10px 0px;
	border-bottom: 1px solid #333;
}

.price {
	padding: 10px 0px;
	border-bottom: 1px solid #333;
}

.option{
	display: flex;
}
.op{
	padding-right: 20px;
	padding-top: 10px;

}

.number{
	padding: 10px 0px 10px 0px;
	display: flex;
}
.total_price {
	padding: 20px 0px 30px 0px;
	border-top: 1px solid #333;
}

/* 개수 금액 조정 */
.quantity {
	width: 100%;
	position: relative;
	padding: 20px 0px 10px 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.quantity input {
	width: 45px;
	height: 42px;
	line-height: 1.65;
	float: left;
	display: block;
	padding: 0;
	margin: 0 20px;
	border: none;
	text-align: center;
	position: relative;
	z-index: 10;
}

.quantity input:focus {
	outline: 0;
}

.quantity-nav {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 42px;
}

.quantity-button {
	position: relative;
	cursor: pointer;
	text-align: center;
	font-size: 13px;
	font-family: "Trebuchet MS", Helvetica, sans-serif !important;
	line-height: 1.7;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.quantity-button.quantity-up {
	position: absolute;
	height: 50%;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

.quantity-button.quantity-down {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	height: 50%;
}

.numb_box {
	border: 1px solid #494949;
	height: 42px;
	width: 85px;
	position: relative;
}

.click1, .click2, .click3 {
	padding: 10px 20px;
	text-align: center;
	display: inline-block;
	border-radius: 30px;
	border: 1px solid #333;
	margin: 5px;
	width: 80%;
}

.click1{
	color: #fff;
	background-color: #333;
}

.click3 {
	background-color: #ddd;
	border:1px solid #dddddda8;
}
select{
	width: 85px;
	padding: 13px 12px;
	display: block;

}

/* footer */
#footer{
	width: 100%;
	background-color:  #d8cdbf; 
	height: 180px;
	color: oklab(18.199% 0.03901 0.03406 / 0.89);
	margin-top: 150px;
	padding: 50px 0px;S
}
.footer-wrap{
	width: 1320px;
	height: 100%;
	margin: 0 auto;
	display: flex;
justify-content: space-between;
font-size: 14px;
}

.B_logo{
	height: 70px;
	display: flex;
    padding-bottom: 10px;
  

}
h5{
	transform: scale(0.9);
      margin-left: -5px;
      margin-top: 3px;
}
.B-logo_title{
	font-size: 20px;
	font-weight: 700;
	padding-top: 30px;
}
.B-logo_title>span{
	font-size: 15px;
	font-weight: 400;
}

.cus-title{
	font-size: 16px;
	font-weight: 700;
	padding-bottom: 10px;
}

.footer_SNS{
    width: 110px;
	display: flex;
    float: left;
     margin-top: 10px;
}

.footer_SNS li{
	display: block;
}
.footer_SNS li img{
	width: 100%;
}

 .footer_SNS li:nth-child(2){ 
    padding: 0px 10px;
}

.extra{
	text-align: right;
    line-height: 40px;
}
